<p id="notice"><%= notice %></p>

<p>
  <strong>Long URL:</strong>
  <%= @url.long_url %>
</p>

<p>
  <strong>Short URL:</strong>
  <%= @short_url_prefix + @url.short_url %>
</p>

<%= link_to 'Back to URL List', urls_list_path %>
